@page "/portfoliocustomerproducts/edit/{PortfolioCustomerProductsId:int}"
@attribute [Authorize(Roles = "Planner")]
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Editar Producto</h3>

@if (portfolioCustomerProduct is null)
{
    <Loading />
}
else
{
    <PortfolioCustomerProductForm @ref="portfolioCustomerProductForm" PortfolioCustomerProduct="portfolioCustomerProduct" OnValidSubmit="SaveAsync" ReturnAction="Return" />
}

@code {
    private PortfolioCustomerProduct? portfolioCustomerProduct;
    private PortfolioCustomerProductForm? portfolioCustomerProductForm;

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter]
    public int PortfolioCustomerProductId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var response = await repository.GetAsync<PortfolioCustomerProduct>($"/api/portfoliocustomerproducts/{PortfolioCustomerProductId}");
        if (response.Error)
        {
            if (response.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                Return();
            }
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        portfolioCustomerProduct = response.Response;
    }

    private async Task SaveAsync()
    {
        var response = await repository.PutAsync($"/api/portfoliocustomerproducts", portfolioCustomerProduct);
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await BlazoredModal.CloseAsync(ModalResult.Ok());
        Return();

        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Cambios guardados con éxito.");
    }

    private void Return()
    {
        portfolioCustomerProductForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo($"/portfoliocustomers/details/{portfolioCustomerProduct!.PortfolioCustomerId}");
    }
}