@page "/download"

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@code {
    string excelFilePath;

    protected override async Task OnInitializedAsync()
    {
        // Recupera la ruta relativa del almacenamiento local
        excelFilePath = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "excelFilePath");

        if (string.IsNullOrEmpty(excelFilePath))
        {
            // Maneja el caso donde no se pudo recuperar la ruta del almacenamiento local
            NavigationManager.NavigateTo("/");
        }
    }
}

<a href="@($"ExcelOutput/{excelFilePath}")" target="_blank" download>Descargar archivo</a>
