<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WaCollaborative.Frontend</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/collaboration">
                <span class="oi oi-globe" aria-hidden="true"></span> Colaboración
            </NavLink>
        </div>
        <AuthorizeView Roles="Planner">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/countries">
                    <span class="oi oi-globe" aria-hidden="true"></span> Paises
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/customers">
                    <span class="oi oi-globe" aria-hidden="true"></span> Clientes
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/products">
                    <span class="oi oi-beaker" aria-hidden="true"></span> Productos
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/measurementUnits">
                    <span class="oi oi-beaker" aria-hidden="true"></span> Unidades de Medida
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/categories">
                    <span class="oi oi-briefcase" aria-hidden="true"></span> Categorias
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/segments">
                    <span class="oi oi-aperture" aria-hidden="true"></span> Segmentos
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/status">
                    <span class="oi oi-ellipses" aria-hidden="true"></span> Estados
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/statustypes">
                    <span class="oi oi-eject" aria-hidden="true"></span> Tipos de Estados
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/demandtypes">
                    <span class="oi oi-ellipses" aria-hidden="true"></span> Tipos de Demanda
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/eventtypes">
                    <span class="oi oi-eject" aria-hidden="true"></span> Tipos de Evento
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/distributionchannels">
                    <span class="oi oi-map-marker" aria-hidden="true"></span> Canales de Distribución
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/users">
                    <span class="oi oi-people" aria-hidden="true"></span> Usuarios
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/internalroles">
                    <span class="oi oi-people" aria-hidden="true"></span> Roles
                </NavLink>
            </div>
        </AuthorizeView>        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}